---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/mattias-lundell/trams/compare/master...develop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token FAKEGITHUBTOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4765'
      X-Ratelimit-Reset:
      - '1489274712'
      Etag:
      - W/"9d6b45cc705eb7c9cac46dfdc5e79575"
      Last-Modified:
      - Thu, 09 Mar 2017 13:53:32 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/mattias-lundell/trams/compare/master...develop","html_url":"https://github.com/mattias-lundell/trams/compare/master...develop","permalink_url":"https://github.com/mattias-lundell/trams/compare/mattias-lundell:3281b93...mattias-lundell:933132e","diff_url":"https://github.com/mattias-lundell/trams/compare/master...develop.diff","patch_url":"https://github.com/mattias-lundell/trams/compare/master...develop.patch","base_commit":{"sha":"3281b934c45ac67e12803e14bb10e606ab79bc59","commit":{"author":{"name":"Mattias
        Lundell","email":"capitrane@gmail.com","date":"2017-03-07T12:29:42Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2017-03-07T12:29:42Z"},"message":"Merge
        pull request #1 from mattias-lundell/eeee\n\nCreate adfasd","tree":{"sha":"eef2e5ac613be9f83470a8ab9b2c95250793e07d","url":"https://api.github.com/repos/mattias-lundell/trams/git/trees/eef2e5ac613be9f83470a8ab9b2c95250793e07d"},"url":"https://api.github.com/repos/mattias-lundell/trams/git/commits/3281b934c45ac67e12803e14bb10e606ab79bc59","comment_count":0},"url":"https://api.github.com/repos/mattias-lundell/trams/commits/3281b934c45ac67e12803e14bb10e606ab79bc59","html_url":"https://github.com/mattias-lundell/trams/commit/3281b934c45ac67e12803e14bb10e606ab79bc59","comments_url":"https://api.github.com/repos/mattias-lundell/trams/commits/3281b934c45ac67e12803e14bb10e606ab79bc59/comments","author":{"login":"mattias-lundell","id":1262441,"avatar_url":"https://avatars3.githubusercontent.com/u/1262441?v=3","gravatar_id":"","url":"https://api.github.com/users/mattias-lundell","html_url":"https://github.com/mattias-lundell","followers_url":"https://api.github.com/users/mattias-lundell/followers","following_url":"https://api.github.com/users/mattias-lundell/following{/other_user}","gists_url":"https://api.github.com/users/mattias-lundell/gists{/gist_id}","starred_url":"https://api.github.com/users/mattias-lundell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattias-lundell/subscriptions","organizations_url":"https://api.github.com/users/mattias-lundell/orgs","repos_url":"https://api.github.com/users/mattias-lundell/repos","events_url":"https://api.github.com/users/mattias-lundell/events{/privacy}","received_events_url":"https://api.github.com/users/mattias-lundell/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"avatar_url":"https://avatars0.githubusercontent.com/u/19864447?v=3","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"405ddd1f18a034eaa5c3d6bd95f4e7a9c38659eb","url":"https://api.github.com/repos/mattias-lundell/trams/commits/405ddd1f18a034eaa5c3d6bd95f4e7a9c38659eb","html_url":"https://github.com/mattias-lundell/trams/commit/405ddd1f18a034eaa5c3d6bd95f4e7a9c38659eb"},{"sha":"396a59d4e9e29f102163c2aaf2c82bd0b167157d","url":"https://api.github.com/repos/mattias-lundell/trams/commits/396a59d4e9e29f102163c2aaf2c82bd0b167157d","html_url":"https://github.com/mattias-lundell/trams/commit/396a59d4e9e29f102163c2aaf2c82bd0b167157d"}]},"merge_base_commit":{"sha":"3281b934c45ac67e12803e14bb10e606ab79bc59","commit":{"author":{"name":"Mattias
        Lundell","email":"capitrane@gmail.com","date":"2017-03-07T12:29:42Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2017-03-07T12:29:42Z"},"message":"Merge
        pull request #1 from mattias-lundell/eeee\n\nCreate adfasd","tree":{"sha":"eef2e5ac613be9f83470a8ab9b2c95250793e07d","url":"https://api.github.com/repos/mattias-lundell/trams/git/trees/eef2e5ac613be9f83470a8ab9b2c95250793e[...]
- request:
    method: get
    uri: https://api.github.com/repos/mattias-lundell/trams/pulls/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token FAKEGITHUBTOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4764'
      X-Ratelimit-Reset:
      - '1489274712'
      Etag:
      - W/"5088546d19fe6d9fce7a953d3a4b9086"
      Last-Modified:
      - Tue, 07 Mar 2017 12:28:58 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/mattias-lundell/trams/pulls/2","id":109445736,"html_url":"https://github.com/mattias-lundell/trams/pull/2","diff_url":"https://github.com/mattias-lundell/trams/pull/2.diff","patch_url":"https://github.com/mattias-lundell/trams/pull/2.patch","issue_url":"https://api.github.com/repos/mattias-lundell/trams/issues/2","number":2,"state":"closed","locked":false,"title":"Feature
        asd fasdf ","user":{"login":"mattias-lundell","id":1262441,"avatar_url":"https://avatars3.githubusercontent.com/u/1262441?v=3","gravatar_id":"","url":"https://api.github.com/users/mattias-lundell","html_url":"https://github.com/mattias-lundell","followers_url":"https://api.github.com/users/mattias-lundell/followers","following_url":"https://api.github.com/users/mattias-lundell/following{/other_user}","gists_url":"https://api.github.com/users/mattias-lundell/gists{/gist_id}","starred_url":"https://api.github.com/users/mattias-lundell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattias-lundell/subscriptions","organizations_url":"https://api.github.com/users/mattias-lundell/orgs","repos_url":"https://api.github.com/users/mattias-lundell/repos","events_url":"https://api.github.com/users/mattias-lundell/events{/privacy}","received_events_url":"https://api.github.com/users/mattias-lundell/received_events","type":"User","site_admin":false},"body":"asdfasdfa
        asdf asdf asdf","created_at":"2017-03-07T10:13:19Z","updated_at":"2017-03-07T12:28:58Z","closed_at":"2017-03-07T10:13:34Z","merged_at":"2017-03-07T10:13:34Z","merge_commit_sha":"c3e05e8c14cf215047822aeb2c42d86eeee0402b","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/mattias-lundell/trams/pulls/2/commits","review_comments_url":"https://api.github.com/repos/mattias-lundell/trams/pulls/2/comments","review_comment_url":"https://api.github.com/repos/mattias-lundell/trams/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mattias-lundell/trams/issues/2/comments","statuses_url":"https://api.github.com/repos/mattias-lundell/trams/statuses/602866df653d0f667fec8d31e65748b5cec8d803","head":{"label":"mattias-lundell:feature","ref":"feature","sha":"602866df653d0f667fec8d31e65748b5cec8d803","user":{"login":"mattias-lundell","id":1262441,"avatar_url":"https://avatars3.githubusercontent.com/u/1262441?v=3","gravatar_id":"","url":"https://api.github.com/users/mattias-lundell","html_url":"https://github.com/mattias-lundell","followers_url":"https://api.github.com/users/mattias-lundell/followers","following_url":"https://api.github.com/users/mattias-lundell/following{/other_user}","gists_url":"https://api.github.com/users/mattias-lundell/gists{/gist_id}","starred_url":"https://api.github.com/users/mattias-lundell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattias-lundell/subscriptions","organizations_url":"https://api.github.com/users/mattias-lundell/orgs","repos_url":"https://api.github.com/users/mattias-lundell/repos","events_url":"https://api.github.com/users/mattias-lundell/events{/privacy}","received_events_url":"https://api.github.com/users/mattias-lundell/received_events","type":"User","site_admin":false},"repo":{"id":61818614,"name":"trams","full_name":"mattias-lundell/trams","owner":{"login":"mattias-lundell","id":1262441,"avatar_url":"https://avatars3.githubusercontent.com/u/1262441?v=3","gravatar_id":"","url":"https://api.github.com/users/mattias-lundell","html_url":"https://github.com/mattias-lundell","followers_url":"https://api.github.com/users/mattias-lundell/followers","following_url":"https://api.github.com/users/mattias-lundell/following{/other_user}","gists_url":"https://api.github.com/users/mattias-lundell/gists{/gist_id}","starred_url":"https://api.github.com/users/mattias-lundell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattias-lundell/subscriptions","organizations_url":"https://api.github.com/users/mattias-lundell/orgs","repos_url":"https://api.github.com/users/mattias-lundell/repos","events_url":"https://api.github.com/users/mattias-lundell/events{/privacy}","received_events_url":"https://api.github.com/users/mattias-lundell/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/mattias-lundell/trams","description":null,"fork":false,"url":"https://api.github.com/repos/mattias-lundell/trams","forks_url":"https://api.github.com/repos/mattias-lundell/trams/forks","keys_url":"https://api.github.com/repos/mattias-lundell/trams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mattias-lundell/trams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mattias-lundell/trams/teams","hooks_url":"https://api.github.com/repos/mattias-lundell/trams/hooks","issue_events_url":"https://api.github.com/repos/mattias-lundell/trams/issues/events{/number}","events_url":"https://api.github.com/repos/mattias-lundell/trams/events","assignees_url":"https://api.github.com/repos/mattias-lundell/trams/assignees{/user}","branches_url":"https://api.github.com/repos/mattias-lundell/trams/branches{/branch}","tags_url":"https://api.github.com/repos/mattias-lundell/trams/tags","blobs_url":"https://api.github.com/repos/mattias-lundell/trams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mattias-lundell/trams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mattias-lundell/trams/git/refs{/sha}","trees_url":"https://api.github.com/repos/mattias-lundell/trams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mattias-lundell/trams/statuses/{sha}","languages_url":"https://api.github.com/repos/mattias-lundell/trams/languages","stargazers_url":"https://api.github.com/repos/mattias-lundell/trams/stargazers","contributors_url":"https://api.github.com/repos/mattias-lundell/trams/contributors","subscribers_url":"https://api.github.com/repos/mattias-lundell/trams/subscribers","subscription_url":"https://api.github.com/repos/mattias-lundell/trams/subscription","commits_url":"https://api.github.com/repos/mattias-lundell/trams/commits{/sha}","git_commits_url":"https://api.github.com/repos/mattias-lundell/trams/git/commits{/sha}","comments_url":"https://api.github.com/repos/mattias-lundell/trams/comments{/number}","issue_comment_url":"https://api.github.com/repos/mattias-lundell/trams/issues/comments{/number}","contents_url":"https://api.github.com/repos/mattias-lundell/trams/contents/{+path}","compare_url":"https://api.github.com/repos/mattias-lundell/trams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mattias-lundell/trams/merges","archive_url":"https://api.github.com/repos/mattias-lundell/trams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mattias-lundell/trams/downloads","issues_url":"https://api.github.com/repos/mattias-lundell/trams/issues{/number}","pulls_url":"https://api.github.com/repos/mattias-lundell/trams/pulls{/number}","milestones_url":"https://api.github.com/repos/mattias-lundell/trams/milestones{/number}","notifications_url":"https://api.github.com/repos/mattias-lundell/trams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mattias-lundell/trams/labels{/name}","releases_url":"https://api.github.com/repos/mattias-lundell/trams/releases{/id}","deployments_url":"https://api.github.com/repos/mattias-lundell/trams/deployments","created_at":"2016-06-23T16:05:27Z","updated_at":"2016-06-23T16:05:27Z","pushed_at":"2017-03-11T23:17:15Z","git_url":"git://github.com/mattias-lundell/trams.git","ssh_url":"git@github.com:mattias-lundell/trams.git","clone_url":"https://github.com/mattias-lundell/trams.git","svn_url":"https://github.com/mattias-lundell/trams","homepage":null,"size":5,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"develop"}},"base":{"label":"mattias-lundell:develop","ref":"develop","sha":"982447d40e741456ec64c33304fca45cf264508f","user":{"login":"mattias-lundell","id":1262441,"avatar_url":"https://avatars3.githubusercontent.com/u/1262441?v=3","gravatar_id":"","url":"https://api.github.com/users/mattias-lundell","html_url":"https://github.com/mattias-lundell","followers_url":"https://api.github.com/users/mattias-lundell/followers","following_url":"https://api.github.com/users/mattias-lundell/following{/other_user}","gists_u[...]
[...]
